<main class="pt-5">
    <div class="container">
        <h1 class="h5">Shopping Cart</h1>
        {% for item in Cart %}
        {% with np=item.np %}
        <div class="row mb-4 border">
        </div>
        {% endwith %}
        {% endfor %}
        <div class="col-12 text-end">
            <div class="h6 fw-bold">
                Sub Total: $<span id="subtotal">{{ cart.get_total_price }}</span>
            </div>
        </div>
    </div>
</main>
<script>
$(document).on('click', '#add-button', function(e) {
    e.preventDefault():
        $.ajax({
            type: 'POST',
            url: '{% url "cart_add" %}',
            data: {
                npid: $('#add-button').val(),
                npqty: $('#select option:selected').text(),
                csrfmiddlewaretoken: "{{ csrf_token }}",
                action: 'post'
            },
            success: function(json) {
                document.getElementById("cart-qty").innerHTML = json.qty
            },
            error: function(xhr, errmsg, err) {}
        });
})
</script>
def add_to_order(request, slug):
if request.method == "POST":
name = request.POST.get('name')
email = request.POST.get('email')
address = request.POST.get('address')
city = request.POST.get('city')
country = request.POST.get('country')
zipcode = request.POST.get('zipcode')
tel = request.POST.get('tel')
np = NewProducts.objects.get(slug=slug)
order_product = Order.objects.create(np=np, name=name, email=email, address=address, city=city, country=country, zipcode=zipcode, tel=tel)
order_product.save()
back = request.META['HTTP_REFERER']
return redirect(back)
else:
data = {
"orders": Order.objects.all()
}
return render(request, 'electro/cart/order.html', data)
cus_id = request.GET.get('cus_id')
customer = Customer.objects.get(id=cus_id)
cart = Cart.objects.all()
for c in cart:
Order(customer=customer, np=c.np, qty=c.qty).save()
c.delete()
return render(request, 'electro/cart/order.html')
customer = models.ForeignKey(Customer, on_delete=models.CASCADE)